extends ../layout

block content
  div(class='container')
    div(class='row')
        div(class='col-md-6 col-sm-8')
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore dignissimos ut, animi assumenda voluptas quae, pariatur facilis delectus ex maxime numquam nihil ipsam voluptatem? Natus corporis at quisquam porro!